* {
    box-sizing: border-box;
}

/*----GRID----*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 700px) {
    .col {
        float: left;
    }

    .col-1of12 {
        width: 8.333%;
    }

    .col-2of12 {
        width: 16.666%;
    }

    .col-3of12 {
        width: 25%;
    }

    .col-4of12 {
        width: 33.333%;
    }

    .col-5of12 {
        width: 41.666%;
    }

    .col-6of12 {
        width: 50%;
    }

    .col-7of12 {
        width: 58.333%;
    }

    .col-8of12 {
        width: 66.666%;
    }

    .col-9of12 {
        width: 75%;
    }

    .col-10of12 {
        width: 83.333%;
    }

    .col-11of12 {
        width: 91.666%;
    }

    .col-12of12 {
        width: 100%;
    }
}

/*----MEDIA QUERIES----*/

@media (max-width: 550px) {

    .header, .cast {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    .header-logo img {
    padding: 91px 44px 113px 44px;
    width: 100%;
    }
}
