// ---- ABOUT ----

.about {
    background-image: url('#{$images}about-bg.jpg');
    background-color: #F1D291;
    text-align: center;
}

.border-repeat {
    background-image: url('#{$images}border-repeat.png');
    background-repeat: repeat-y;
    background-position: center;
}

.type-hero {
    font-family: $type-headings;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    line-height: 0;
    color: #310806;

    &.who {
        font-size: 7.688em;
        padding: 145px 0px;
        letter-spacing: .02em;
        font-weight: 400;
    }

    &.your {
        font-size: 9.313em;
        padding-bottom: 145px;
    }

    &.daddy {
        font-size: 6.250em;
        padding-bottom: 100px;
    }
}

.border {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.synopsis {
    padding: 0px 225px 55px 225px;
}
