// ---- ACTOR ----

.grid-actor-right {
    padding-right: 11px;
}

.grid-actor-middle {
    padding-right: 11px;
    padding-left: 11px;
}

.grid-actor-left {
    padding-left: 11px;
}

.actor-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 500ms ease;

    &.larger {
        min-height: 300px;
    }

    &.smaller {
        min-height: 225px;
    }
}

.char-name {
    padding: 30px;
    background-image: url('#{$images}watch-ink-swash.png');
    background-repeat: no-repeat;
    background-position: center;
    color: $color--cream;
    letter-spacing: .05em;
    transition: all 500ms ease;
}

.actor-name {
    font-family: $type-headings;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.15em;
    letter-spacing: .15em;
    font-weight: 400;
    text-align: center;
    color: $color--cream;
    transition: all 500ms ease;
}

p {

    &.actor-bio {
        height: 175 + 50px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0px 12px;
        color: $color--cream;
        transition: all 500ms ease;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #5D0A03;
        }
    }
}

.actor {

    .actor-bg {
        background-color: lighten($color--red, 8%);
        height: 480 + 50px;
        box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.59);
        margin: 0;
        padding: 10px;
        margin-bottom: 70px;
        transition: all 500ms ease;
    }

    &:hover,
    &:active,
    &:focus {

        p {

            &.actor-bio {
                color: $color--brown;
            }
        }

        .actor-bg {
            background-color: $color--cream;
        }

        .actor-name {
            color: $color--brown;
        }

        .char-name {
            color: $color--cream;
            transform: scale(.95) rotate(8deg);
        }

        #sandler {
            background-image: url('#{$images}sandler.png')
        }

        #schneider {
            background-image: url('#{$images}schneider.png')
        }

        #lautner {
            background-image: url('#{$images}lautner.png')
        }

        #garcia {
            background-image: url('#{$images}garcia.png')
        }

        #crews {
            background-image: url('#{$images}crews.png')
        }

        #wilson {
            background-image: url('#{$images}wilson.png')
        }
    }

    #sandler {
        background-image: url('#{$images}sandler-toned.png');
    }

    #schneider {
        background-image: url('#{$images}schneider-toned.png')
    }

    #lautner {
        background-image: url('#{$images}lautner-toned.png')
    }

    #garcia {
        background-image: url('#{$images}garcia-toned.png')
    }

    #crews {
        background-image: url('#{$images}crews-toned.png')
    }

    #wilson {
        background-image: url('#{$images}wilson-toned.png')
    }
}

@media (max-width: $breakpoint--tablet) {

    .actor {

        p {

            &.actor-bio {
                color: $color--brown;
                height: 100%;
            }
        }

        .actor-bg {
            background-color: $color--cream;
            height: 100%;
        }

        .actor-name {
            color: $color--brown;
        }

        .char-name {
            color: $color--cream;
        }

        #sandler {
            background-image: url('#{$images}sandler.png')
        }

        #schneider {
            background-image: url('#{$images}schneider.png')
        }

        #lautner {
            background-image: url('#{$images}lautner.png')
        }

        #garcia {
            background-image: url('#{$images}garcia.png')
        }

        #crews {
            background-image: url('#{$images}crews.png')
        }

        #wilson {
            background-image: url('#{$images}wilson.png')
        }
    }
}

@media (min-width: $breakpoint--tablet) {

    .actor {

        .actor-bg {
            margin-bottom: 140px;
        }
    }

}
