// --- FILM STILLS ---

.header,
.cast {
    background-image: url('#{$images}main-bg.jpg');
    background-color: $color--maroon;
}


@media (max-width: $breakpoint--mobile) {

    .header,
    .cast {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
