// ---- FOOTER ----

.footer {
    background-image: url('#{$images}footer-bg.jpg');
    background-color: #201714;
}

.footer-logo {
    display: block;
    width: 100%;
    padding-bottom: 20px
}

.footer-heading {
    font-family: $type-sans;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: $color--orange;
    padding-left: 30px;
    margin: 0;
}

.nav-list-item {
    font-family: "bodoni-urw", bodoni, baskerville, "Times New Roman", serif;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 30px;

    a {
        text-decoration: none;
        color: $color--cream;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    img {
        display: inline;
        width: 100%;
    }
}

.footer-position {
    position: relative;
}

.netflix-logo {
    position: absolute;
    width: auto;
    display: block;
    height: 10%;
    left: 50%;
    top: 33%;
}

// testing

.share {

    img {
        width: 50%;
    }
}

.donkey-img {
    width: 100%;
    display: block;
}

.footer-review {
    font-family: "bodoni-urw", bodoni, baskerville, "Times New Roman", serif;
    text-align: center;
    color: $color--cream;
}

.large-quote-glyph {
    font-family: $type-headings;
    font-size: 144px;
    line-height: 0em;
    display: block;
    color: $color--orange;
    margin-top: 35px;
    margin-bottom: 15px;
}

.review-body {
    padding: 0px 30px;
}

.reviewer {
    color: $color--orange;
    display: block;
    margin-top: 20px;
}

.footer-copyright {
    position: relative;
    font-family: "bodoni-urw", bodoni, baskerville, "Times New Roman", serif;
    font-size: 0.8125em;
    color: #6C4E43;
}

.copyright-text {
    position: absolute;
    bottom: 30px;
    left: 445px;
    display: block;
}
