// ---- FOOTER ----

.footer {
    background-image: url('#{$images}footer-bg.jpg');
    background-color: #201714;
}

.footer-logo {
    display: block;
    width: 100%;
    padding-bottom: 20px
}

.footer-heading {
    font-family: $type-sans;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: $color--orange;
    padding-left: 30px;
    margin: 0;
}

.nav-list-item {
    font-family: "bodoni-urw", bodoni, baskerville, "Times New Roman", serif;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 30px;

    a {
        text-decoration: none;
        color: $color--cream;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    img {
        display: inline;
        width: 100%;
    }
}

.footer-position {
    position: relative;
}

.footer-share {
    padding-left: 0 !important;

    .footer-heading {
        padding-left: 0 !important;
    }

    .share {
        display: inline-block;
        padding-left: 0;
        transition: all 500ms ease;

        img {
            width: 55%;
            padding-bottom: 20px;
        }

        &:hover,
        &:focus,
        &:active {
            transform: scale(.9) rotate(20deg);
        }
    }
}

.donkey-img {
    width: 45%;
    display: block;
}

.footer-review {
    font-family: $type-serif;
    text-align: center;
    color: $color--cream;
    max-width: 60%;
    margin: 0 auto;
    font-size: 2em;
}

.large-quote-glyph {
    font-family: $type-headings;
    font-size: 144px;
    line-height: 0em;
    display: block;
    color: $color--orange;
    margin-top: 35px;
    margin-bottom: 15px;
}

.review-body {
    padding: 0px 30px;
}

.reviewer {
    color: $color--orange;
    display: block;
    margin-top: 20px;
    font-size: .75em;
}

.footer-copyright {
    position: relative;
    font-family: $type-serif;
    font-size: 0.8125em;
    color: #6C4E43;
}

@media (max-width: $breakpoint--tablet) {

    .footer-review {
        font-size: 1.5em;
        max-width: 80%;
    }

    .reviewer {
        font-size: .85em;
    }

    .footer-heading,
    .nav-list-item {
        padding-left: 0px;
    }

    .footer-heading {
        padding-top: 30px;
    }

    .netflix-logo {
        padding: 30px 0px;
    }

    .footer-copyright {
        padding-bottom: 30px;
    }
}

@media (min-width: $breakpoint--tablet) {

    .netflix-logo {
        position: absolute;
        width: auto;
        display: block;
        height: 10%;
        left: 50%;
        top: 50%;
    }

    .copyright-text {
        position: absolute;
        bottom: 30px;
        left: 44%;
        display: block;
    }
}
