// ---- GLOBAL ----

.header-logo {

    img {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: block;
        padding: 91px 0px 113px 0px;
        max-width: 432px;
        width: 100%;
    }
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.29);
}

.hidden {
    display: none;
}

.nav-container {
    background-color: $color--orange;
    transition: all 500ms ease-in;
}

.main-nav-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    text-align: center;
}

.main-nav-list-item {
    display: inline-block;
    padding: 10px 5px 20px 5px;
    margin: 0px 50px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $type-sans;
        color: $color--brown;
        padding-top: 10px;
        display: block;
        transition: all 200ms ease-in;

        &:before {
            content: '';
            background-image: url('#{$images}nav-hover-state.png');
            background-repeat: repeat-x;
            background-position: top;
            display: block;
            padding-top: 10px;
            opacity: 0;
            transition: all 200ms ease-in;
        }

        &:hover,
        &:active,
        &:focus {

            &:before {
                opacity: 1;
            }
        }
    }

    &:last-child {

        a {

            &:before {
                background-image: initial;
                padding-top: 0px;
            }
        }
    }
}

.watch-nav-button {
    background-image: url('#{$images}watch-ink-swash.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 50px 5px 50px;
    transition: all 200ms ease-in;

    a {
        color: $color--orange;

        &:hover,
        &:active,
        &:focus {
            background-image: none;
        }
    }
}

.js-menu {
    display: none;
}

@media (max-width: 1143px) {

    .sticky {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        border-top: 0;
    }

    .nav {
        overflow: hidden;
        transition: all 200ms ease;

        &.active {

            .main-nav-list {
                opacity: 1;
                height: 350px;
            }
        }
    }

    .js-menu {
        display: block;
        text-align: center;
        padding-top: 25px;
        text-transform: uppercase;
        font-family: $type-sans;
        font-size: 20px;
        letter-spacing: .2em;
    }

    .main-nav-list {
        opacity: 0;
        height: 0%;
        height: 30px;
    }

    .main-nav-list-item {
        display: block;
        width: auto;
    }

    .header-logo {

        img {
            padding: 42px 10px;
            width: 80%;
        }
    }
}
