// ---- GLOBAL ----

.header-logo {

    img {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: block;
        padding: 91px 0px 113px 0px;
        max-width: 432px;
        width: 100%;
    }
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background-color: $color--orange;
}

.hidden {
    display: none;
}

.nav {
    background-color: $color--orange;
    transition: all 500ms ease-in;
}

.main-nav-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    text-align: center;
}

.main-nav-list-item {
    display: inline-block;
    padding: 10px 5px 20px 5px;
    margin: 0px 50px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $type-sans;
        color: $color--brown;
        padding-top: 10px;
        display: block;

        &:hover,
        &:active,
        &:focus {
            background-image: url('#{$images}nav-hover-state.png');
            background-repeat: repeat-x;
            background-position: top;
            display: block;
            padding-top: 10px;
        }
    }
}

.watch-nav-button {
    background-image: url('#{$images}watch-ink-swash.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 50px 5px 50px;

    a {
        color: $color--orange;

        &:hover,
        &:active,
        &:focus {
            background-image: none;
        }
    }
}

@media (max-width: 550px) {

    .header-logo {

        img {
            padding: 91px 44px 113px 44px;
            width: 100%;
        }
    }
}
