// ---- Images ----
$images: '../../images/';


// ---- Grid ----
$container: 80%;
$grid--gutter: 30px;

// ---- Breakpoints ----
$breakpoint--mobile: 480px;
$breakpoint--tablet: 768px;
$breakpoint--desktop: 480px;

// ---- Typography ----
$type-sans: 'franklin-gothic-urw', helvetica, arial, sans-serif;
$type-headings: 'Ultra', serif;

// ---- Color ----
$color--orange: #C76100;
$color--red: #740B03;
$color--maroon: #50120E;
$color--yellow: #FBCF01;
$color--cream: #F1D291;
$color--brown: #310806;
